/*-------Menu bar Css------*/

.navbar{
	margin-bottom: 0px;
	background-color: rgba(28, 39, 66, 0.51);
}

.navbar-inverse{
	padding: 1% 0;
	border-radius: 0;
}

.navbar-nav li{
	//padding: 0px 5px;
	margin: 0px 5px;
	//margin-left: 5%;
}

.navbar-nav .btn{
	width: 120px;
}

.navbar-inverse .navbar-nav>li>a{
	color:#fff;
	font-size: 20px;
	font-weight: 600;
}

.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.active>a:hover{
	background-color: rgba(0, 0, 255, 0.67);
}

.navbar-inverse .navbar-nav>li{
	transition: all 1s ease-out;
}
.navbar-inverse .navbar-nav>li:hover{
	background-color: rgba(0, 0, 255, 0.67);
	border-radius: 4px;
}

.navbar-inverse {
	border-color: rgba(28, 39, 66, 0.51);
}

.navbar-inverse .navbar-nav>.active>a{
    color: #fff;
    background-color: blue;
}
.btn-primary {
    color: #fff;
     background-color: rgba(255, 255, 255, 0); 
     border:none;
}


/*---------Menubar Shrink Css-----------------*/
/* Sizes for the bigger menu */
header.large{ height: 120px; }
header.large img{ width: 315px; height: 93px; }
header.large li{ margin-top: 40px; }

/* Sizes for the smaller menu */
header.small{ height: 50px; }
header.small img{ width: 230px; height: 69px; margin-top: -10px; }
header.small li{ margin-top: 10px; }


header nav, header img{
  transition: all 1s;
  -moz-transition: all 1s; /* Firefox 4 */
  -webkit-transition: all 1s; /* Safari and Chrome */
  -o-transition: all 1s; /* Opera */
}
header ul li a{
	transition: all .8s;
  -moz-transition: all .8s; /* Firefox 4 */
  -webkit-transition: all .8s; /* Safari and Chrome */
  -o-transition: all .8s; /* Opera */
  display: block;
}


/*----------Bootstrap Code Channge----------------*/

/*-------Modal class-----------*/
.modal{
	margin-top: 7%;
}
.modal h3{
	text-align: center;
}


/*-----------------------Container Section CSS---------------------------*/
/*-------------Banner Section--------------*/
.banner_wrapper{
	background-image: url(../img/banner.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 582px;
	margin-top: 0%;
}

.search_pill{
	color:#fff;
	background-color: rgba(218, 216, 216, 0.34);
	border-radius: 7px;
	margin-top: 5%;
    margin-bottom: 20px;
    height: 500px;
}

.search_pill ul{
	margin-left:17px;
}
.search_pill h2{
	text-align: center;
	font-weight: bold;
	margin: 3% 0%;
}
.search_pill h3{
	text-align: center;
	//font-weight: bold;
	padding: 11% 0% 3% 0%;
}

.search_pill .nav-pills>li {
    width: 24%;
    text-align: center;
    background: #cfcfcf;
    border-radius: 4px;
}
.search_pill .nav>li>a {
    padding: 10px 0px;
    font-size: 17px;
    font-weight: 600;
}
.search_pill .nav>li>a:hover{
	background:blue;
	opacity: .5;
	font-size: 17px;
	border: none;
	color: #fff;
}

.search_pill .control-label{
	text-align: left;
	font-size: 17px;
}
.search_pill .control-label p{
	text-align: right;
    margin-right: 6%;
}

.search_pill .lable_text{
	text-align: right;
}



/*---------------Result Section---------*/
.count_wrapper{
	background-color: rgba(239, 239, 239, 0.59);
	padding-bottom: 4%;
	padding-top: 4%;
}
.count_wrapper h3{
	text-align: center;
    font-weight: bold;
    font-size: 28px;
    padding: 20px 3px;
}
.count_wrapper h2{
	text-align: center;
	color: green;
	font-weight: bold;
	font-size: 45px;
	padding-bottom: 28px;
}

.counter_bg{
	background-color: rgba(255, 255, 255, 0.65);
	border-radius: 7px;
}

.count_wrapper_body{
	padding: 5% 0%;
}


/*-----------Parallax-----------------*/
.parallax{
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	

}
.count_wrapper{
	background-color: rgba(237, 237, 237, 0.34);
	background-image: url(../img/banner.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 450px;
}



/*---------------About Section---------------*/

.about_wrapper{
	background-color: rgba(237, 237, 237, 0.34);
}

.about_wrapper h1, .about_wrapper h2{
	text-align: center;
	font-size: 40px;
    font-weight: bold;
    color: rgba(72, 69, 69, 0.76);
    margin: 5% 0%;
}

.about_wrapper p{
	font-size: 17px;
	text-align: center;
}

/*----------------Contact Section----------------*/

.contact_wrapper{
	padding-bottom: 4%;
	background-color:rgba(241, 241, 241, 0.81);
}
.contact_wrapper h1{
	text-align: center;
    font-size: 42px;
    font-weight: bold;
	margin-top: 4%;
    margin-bottom: 4%;
}
.contact_wrapper address{
    padding: 54px 52px;
    font-size: 18px;
}
.contact_wrapper .Contact_mail{
    padding: 40px 20px 10px 23px;
    font-size: 16px;
}
.contact_body{
	    border: 1px dotted rgba(95, 91, 91, 0.39);
	    border-radius: 7px;
}
.border_address{
	border-right: 1px solid;
	width: 100px;
}
.vdivide{
	border-right: 1px dotted rgba(95, 91, 91, 0.39);
    height: 200px;
    margin-top: 4%;
}
.Contact_mail .form-horizontal .control-label{
	text-align: left;
}


/*------------Carousel----------*/
.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #f4511e;
}
.carousel{
	margin-top: -1.5%;
}
.carousel  h2{
	padding-top: 5%;
    font-size: 42px;
    font-weight: bold;
    //text-shadow: 2px 2px 2px rgba(138, 134, 134, 0.72);
}
.carousel-inner img{
	margin-left: auto;
	margin-right: auto;
	margin-top: 20%;
	margin-bottom: 20%;
}
.carousel-inner h4{
	margin-bottom: 10%;
}
.carousel-indicators .active{
	background-color: black;
}

.carousel-indicators li{
	border: 1px solid #150606;
}
.img-circle {
    //border-radius: 100%;
}


/*--------------Search Page-------------*/
.sign_up_page{
	background-color: #ededed;
	margin-top: 1.5%;
	padding-bottom: 3.5%;
}
.sign_up_page h1{
	text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #a1a2a3;
    font-stretch: ultra-expanded;
    margin: 3% 0%;

}
.sign_up_page hr{
	border: 2px solid #C1BCBC;
    border-radius: 24px;
    width: 24%;
}

.sign_up_page .form-horizontal .control-label{
	font-size: 20px;
	color: #a1a2a3;
	text-align: left;
}

.sign_up_page .form-horizontal{
	margin-left: 5%;
    margin-top: 4%;
} 
.btn_search{
	background-color: rgba(0, 0, 255, 0.68);
    padding: 9px 30px;
    font-size: 20px;
}

input, textarea{
	-webkit-box-shadow: 0 0 8px rgba(0,0,0,.1);
	-moz-box-shadow: 0 0 8px rgba(0,0,0,.1);
	box-shadow: 0 0 8px rgba(0,0,0,.1);

	background: -webkit-linear-gradient(top, #EEE 0px, #FFF 25px);
	background: -moz-linear-gradient(top, #EEE 0px, #FFF 25px);
}

/*---------------------Social link----------------*/
.footer_wrapper{
	background-color: #1C2742;
	color: #fff;
}
.footer_wrapper h2{
	text-align: center;
	margin-top: 4%;
}
.social-link2{
	margin-top:10%;
	margin-bottom: 35%;
}

.social-link2 ul{
	list-style: none;

}

.social-link2 ul li{

}

.social-link2 ul li a {
	text-decoration: none;
	display:block;
	color: #fff;

}

.social-link2 ul li a i{
    width: 16%;
    height: 25%;
    font-size: 193%;
    float: left;
    padding: 3%;
    border-radius: 50%;
    line-height: 100%;
    text-align: center;
    border: 1px solid rgba(218, 210, 210, 0.27);
    display: block;
    overflow: hidden;
    margin-left: 2%;
	
}

.social-link2 ul li a i:hover{
	background: rgba(218, 210, 210, 0.8);
	-webkit-transition : all 0.5s;

}

.social-link2 .fa{
	//padding: 5px;

}

.social-link2 .fa-facebook:hover{
	color:#48649F;
}

.social-link2 .fa-twitter:hover{
	color:#2F7FBA;
}

.social-link2 .fa-linkedin:hover{
	color:#0B2B5C;
}

.social-link2 .fa-google-plus:hover{
	color:#DD4E40;
}

.social-link2 .fa-pinterest:hover{
	color:#D73532;
}

.developer_link{
	margin-bottom: 20px;
}

.developer_link p, .developer_link a{
	color:#fff;
}