@font-face {
	font-family: 'icomoon';
	src:url('../icon-fonts/icomoon/icomoon.eot');
	src:url('../icon-fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../icon-fonts/icomoon/icomoon.woff') format('woff'),
		url('../icon-fonts/icomoon/icomoon.ttf') format('truetype'),
		url('../icon-fonts/icomoon/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*------windows loader CSS------*/
.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../img/awesome_loading.gif') 50% 50% no-repeat #31A2E1;
}
/*-------Menu bar Css------*/
#myNavbar{
	margin-right: 0px;
}
.navbar{
	margin-bottom: 0px;
	background-color: #1C2742;
	border-bottom-color: #fff;
}

.navbar-nav{
	// margin-top: 1%;
	//margin-bottom: -1%;
}

.navbar-inverse{
	padding: 0%;
	border-radius: 0;
}

.navbar-nav li{
	//width: 16%;/*need to be change to width: 20%;*/
    text-align: center;
}
.myaccount_modal a{
	font-size: 13px;
}

.navbar-nav .btn{
	width: 120px;
	border-radius: none;
}

.navbar-nav>li>a{
	//background-color: #fff;
	color:#fff;
	font-size: 20px;
	font-weight: 600;
}
.navbar-nav > li > a{
    padding-top: 20px;
    padding-bottom: 20px;
}

 .navbar-nav>.active>a, .navbar-nav>.active>a:hover{
	background-color: #fff;
	color: #695959;
}

.navbar-nav>li{
	transition: all 1s ease-out;
}
 .navbar-nav>li:hover{
	background-color: #fff;
	color: #695959;
	//border-radius: 4px;
}
.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    color: #190404;
}

.navbar-collapse {
	border-color: #fff;
}

 .navbar-nav>.active>a{
    color: #695959;
    background-color: #fff; 
    border-bottom-color: rgba(255, 255, 255, 0);
}
.btn-primary {
    //color: #fff;
    background-color: #fff; 
    border:none;
}



/*---------Menubar Shrink Css-----------------*/
/* Sizes for the bigger menu */
header.large{ 
	height: 104px; 
}
header img{
	//margin-top: 2%;
}
header.large img{ 
	width: 315px; 
	height: 93px;
	margin-top: 1%; 
}
header.large li{
	margin-top: 10%; 
}

/* Sizes for the smaller menu */
header.small{ 
	height: 50px; 
}
header.small img{ 
	width: 230px; 
	height: 40px; 
	margin-top: 2%;
	margin-bottom: 2%;
}
/*header.small li{ 
	margin-top: 10px; 
}*/
header.small .navbar-nav {
    //margin-top: 2.1%;
}



header nav, header img{
  transition: all 1s;
  -moz-transition: all 1s; /* Firefox 4 */
  -webkit-transition: all 1s; /* Safari and Chrome */
  -o-transition: all 1s; /* Opera */
}
header ul li a{
	transition: all .3s;
  -moz-transition: all .3s; /* Firefox 4 */
  -webkit-transition: all .3s; /* Safari and Chrome */
  -o-transition: all .3s; /* Opera */
  display: block;
}

/*--------Drop-down menu CSS------------*/
.navbar-right .dropdown-menu {
     right: 0;
     left: 0;
} 
.dropdown-menu > li > a {
    padding: 12px 20px;
    font-size: 20px;
    transition: all .6s;
    -moz-transition: all .6s; /* Firefox 4 */
    -webkit-transition: all .6s; /* Safari and Chrome */
    -o-transition: all .6s; /* Opera */
}

.dropdown-menu > li > a:hover{
	background-color: #1C2742;
	color: #fff;
}
/*.navbar-right .dropdown-menu {
    right: 0;
    left: -1.04px;
    background-color: rgba(28, 39, 66, 0.76);
}
.navbar-nav > li > .dropdown-menu {
    box-shadow: none;
    border: none;
    border-left: 1px solid rgba(140, 140, 140, 0.2);
    border-bottom: 1px solid rgba(140, 140, 140, 0.2);
    border-right: 1px solid rgba(140, 140, 140, 0.2);
}


.navbar-nav > .open > a, .navbar-nav > .open > a:hover, .navbar-nav > .open > a:focus {
    color: #695959;
    background-color: #fff;
}


 .navbar-nav > .active > a,  .navbar-nav > .active > a:hover,  .navbar-nav > .active > a:focus {
    color: #695959;
    background-color: #fff;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #695959;
    text-decoration: none;
    background-color: #FFF;
}

.dropdown-menu > li > a {
	color: #fff;
}

.dropdown-menu li{
	display: block;
	background-color: #fff;
}
*/
/*----------Bootstrap Code Channge----------------*/

/*-------Modal class-----------*/
.dropdown_menu_modal{
	min-width: 301px;	
}
.navbar-nav>li>.dropdown_menu_modal{
	margin-top:2px;
	left: -268%;
}
.navbar-nav>li>.my_account_modal{
	left: -114%;
}
.navbar-right .dropdown_menu_modal {
     right: auto;
} 
.dropdown_menu_modal form{
	padding: 0px 15px 0px 15px;
}
.dropdown_menu_modal .form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: left;
    padding-bottom: 5px;
}
.dropdown_menu_modal .glyphicon {
	top: -17px;
	font-size: 16px;
	color:  #A59B9B;
	margin-left: 265px;
}

.forget_pass p{
	margin-bottom: -10px;
}
.my_account_modal .my_account_options{
	//padding: 10px 10px 50px 10px;
}
.my_account_modal .btn_myaccount{
	padding: 10px;
	background-color: #1C2742;
    color: #fff;
    font-size: 18px;
}
.my_account_modal .btn_myaccount_original{
	width: 85.5%;
}
.my_account_options .fa-sign-out{
	padding-right: 7px;
    margin-left: -32px;
} 
.main_account_body{
	padding-bottom: 4px;
}
.main_account_body .btn{
	border-radius: 0px;
}
.my_account_modal .btn_sign_out{
	padding: 10px;
	background-color: #B7403A;
    color: #fff;
    font-size: 18px;
}
.my_account_modal .btn_sign_out:hover{
	background-color: #CE625C;
}
.my_account_modal h4{
	margin-bottom: 20px;
    margin-top: -15px;
    font-size: 20px;
}
.my_account_modal .btn_myaccount .fa{
	padding-right: 10px;
}
.my_account_options .btn{
	width: 85.5%;
}

.my_account_modal .btn_myaccount:hover{
	background-color: #3a5795;
    color: #fff;
}

/*-------------My account Page--------*/
.my_account_heading{
	text-align: center;
}
.my_account_heading h1{
	margin: 5% 0%;
}
.my_account_heading span{
	font-style: italic;
	font-weight: bold;
}
.account_edit, .change_pass{
	display: block;
	border: 1px solid rgba(19, 17, 17, 0.43);
    border-radius: 7px;
    text-align: center;
    background: #ededed;
    box-shadow: 0px 8px 12px 4px black;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz--webkit-transition: all .3s;
    -o--webkit-transition: all .3s;
}
.account_edit hr, .change_pass hr{
	border-top: 1px solid rgba(14, 8, 8, 0.18);
}
.myaccount_page a{
	display: block;
	text-decoration: none;
	cursor: pointer;
}
.account_edit:hover, .change_pass:hover{
	border: 1px solid rgba(19, 17, 17, 0.43);
    border-radius: 7px;
    text-align: center;
    background: #ededed;
    box-shadow: none;
}
.account_edit h3, .change_pass h3{
	margin-top: 20px;
}
.my_account_details .change_pass{
	margin-left: 3%;
}
.account_edit h4, .change_pass h4{
	font-size: 24px;
	line-height: 40px;
	padding: 5px;
}
.myaccount_page{
	margin-bottom: 25%;
	margin-top: 5%;
}

/*------------ Change Password Page-----------------*/
.chng_pass_page{
	padding-top: 3%;
}
.chng_pass_page h3{
	text-align: center;
	padding-bottom: 3%;
	font-size: 30px;
    font-weight: bold;
}
.chng_pass_page h3:last-child{
	padding-bottom: 3%;
}
.chng_pass_page .form-horizontal .control-label {
    font-size: 20px;
    //color: #a1a2a3;
    text-align: left;
}
.chng_pass_page .btn_search{
	margin-left: 16%;
}
/*-----------------------Container Section CSS---------------------------*/
/*-------------Banner Section--------------*/
.banner_wrapper{
	background-image: url(../img/banner.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 582px;
	margin-top: 0%;
}

.search_pill{
	color: rgba(0, 0, 0, 0.63);
	background-color: rgba(232, 232, 232, 0.28);
	border-radius: 7px;
	margin-top: 2%;
    margin-bottom: 20px;
    height: 500px;
}

.search_pill ul{
	margin-left:17px;
}
.search_pill h2{
	text-align: center;
	font-weight: bold;
	margin: 3% 0%;
}
.search_pill h3{
	text-align: center;
	//font-weight: bold;
	padding: 11% 0% 3% 0%;
}

.search_pill .nav-pills>li {
    width: 19%;
    text-align: center;
    background: #cfcfcf;
    border-radius: 4px;
}
.search_pill .nav>li>a {
    padding: 10px 0px;
    font-size: 17px;
    font-weight: 600;
}
.search_pill .nav>li>a:hover{
	background:blue;
	opacity: .5;
	font-size: 17px;
	border: none;
	color: #fff;
}

.search_pill .control-label{
	text-align: left;
	font-size: 20px;
}
.search_pill .control-label p{
	text-align: right;
    margin-right: 6%;
}

.search_pill .lable_text{
	text-align: right;
}

/* this is for country selection box.*/
.search_pill .country_selection_box .bfh-selectbox .bfh-selectbox-options ul{
	max-width: 222px;
}

/*this is for map draging CSS */
#map-canvas {
    width: 100%;
    height: 250px;
    background-color: gray;
}
.draw_map{
	margin-top: 8%;
	margin-left: 6.3%;
    padding-right: 7.5%;
}
.draw_map p{
	//margin-left: 5%;
}
.adv_search_link .fa{
	padding-left: 5px;
}
#name .adv_search_link p{
	position: absolute;
	bottom: -90px;
	font-size: 15px;
}

#photos .adv_search_link p{
	position: absolute;
	bottom: -65px;
}

#country .adv_search_link p{
	position: absolute;
	bottom: -177px;
}

#map .adv_search_link p{
	position: absolute;
	bottom: -68px;
}

#id_search .adv_search_link p{
	position: absolute;
	bottom: -234px;
}

/*========= Drag & Drop images upload css customization========*/
.file-drop-zone-title {
    padding: 20px 10px;
}

.file-input{
	margin-top: 10px;
}

.file-drop-zone {
    margin: 7px 15px 7px 12px;
    padding: 0px;
    height: 135px;
}
.file-error-message {
    position: absolute;
    z-index: 3;
    top: 52%;
    left: 11%;
}

.text-success{
	 position: absolute;
    z-index: 3;
    top: 52%;
    left: 30%;
}
.search_pill .upload_img{
    width: 90%;
    margin-left: 4.5%;
}

.search_pill .file-input .input-group {
	//width: 90.5%;
   // margin-left: 4.5%;
}

.file-input .btn-primary {
    background-color: #337ab7;;;
    border: none;
}
.file-input .btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.file-preview {
    border: 1px solid rgba(119, 116, 116, 0.48);
}

/*---------------Result Section---------*/
.count_wrapper{
	padding-bottom: 4%;
	padding-top: 4%;
}

.inner_counter{
    padding: 7px 24px 7px 24px;
}

.count_wrapper h3{
	text-align: center;
    font-weight: bold;
    font-size: 40px;
    //margin-top: 38%;
    color: rgb(28, 39, 66);
}
.count_wrapper h2{
	text-align: center;
	color: #1C2742;
	font-weight: bold;
	font-size: 45px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 37%;
}
.counter_found{
	background-color: rgba(0, 150, 136, 0.71);
	margin-left: 17%;
}
.counter_found_text{
	background-color: #fff;
}
.counter_add{
	background-color: rgba(134, 35, 25, 0.67);
	margin-left: 17%;
	
}

.counter_add_text{
	background-color: #fff;
}


.counter_bg{
	//background-color: rgba(46, 189, 63, 0.65);
    border-radius: 50%;
    width: 250px;
    height: 250px;

}

.count_wrapper_body{
	padding: 5% 0%;
}


/*-----------Parallax-----------------*/
.parallax{
	background-attachment: fixed;
	background-position: right 110px;
}
.count_wrapper{
	//background-color: rgba(237, 237, 237, 0.34);
	background-image: url(../img/banner.png);
	background-repeat: no-repeat;
	background-size: cover;
	//height: 450px;
}



/*---------------About Section---------------*/

.about_wrapper{
	//background-color: rgba(237, 237, 237, 0.34);
	background-image: url(../img/service.jpg);
	background-repeat: no-repeat;
	//background-size: cover;
	background-position: center;
	height: 550px;
}

.about_wrapper h1, .about_wrapper h2{
	text-align: center;
	font-size: 40px;
    font-weight: bold;
    color: #00A708;
    margin: 3% 0%;
}
.about_wrapper p{
	font-size: 24px;
    font-weight: 600;
    color: #00A708;
}
.service_option{
	margin: 8% 0%;
}
.service_option .fa{
	padding-right: 9px;
}

.pull-right p{
	margin-left: 21px;
}


.btn_service{
	background-color: green;
    color: #fff;
    width: 35%;
    font-size: 24px;
    padding: 12px 0px;
    margin: 10% 0%;
    transition: all .3s ease;
    -webkit-transition: all .5s ease;
}

.btn_service:hover{
	background-color: #fff;
	color:green;
	border: 1px solid green;
}

/*----------------Contact Section----------------*/

.contact_wrapper{
	padding-bottom: 4%;
	background-color:rgba(241, 241, 241, 0.81);
}
.contact_wrapper h1{
	text-align: center;
    font-size: 42px;
    font-weight: bold;
	margin-top: 4%;
    margin-bottom: 4%;
}
.contact_wrapper address{
    padding: 54px 52px;
    font-size: 18px;
}
.contact_wrapper .Contact_mail{
    padding: 40px 20px 10px 23px;
    font-size: 16px;
}
.contact_body{
	    border: 1px dotted rgba(95, 91, 91, 0.39);
	    border-radius: 7px;
}
.border_address{
	border-right: 1px solid;
	width: 100px;
}
.contact_devide{
	border-right: 1px dotted rgba(95, 91, 91, 0.39);
    height: 200px;
    margin-top: 4%;
}
.Contact_mail .form-horizontal .control-label{
	text-align: left;
}


/*------------Carousel----------*/
.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #f4511e;
}
.carousel{
	margin-top: -1.5%;
}
.carousel  h2{
	padding-top: 5%;
    font-size: 42px;
    font-weight: bold;
    color: rgba(53, 170, 17, 0.67);
}
.carousel-inner img{
	margin-left: auto;
	margin-right: auto;
	margin-top: 20%;
	margin-bottom: 20%;
}
.carousel-inner h4{
	margin-bottom: 10%;
	padding-top: 3%;
}
.carousel-inner h4 q{
	font-size: 60px;
}
.carousel-inner h4 q blockquote{
	font-size: 30px;
	border-left: 5px solid #C1BEBE;
}
.carousel-indicators .active {
    background-color: #ededed;
    width: 20px;
    height: 20px;
}

.carousel-indicators li{
	border: 3px solid #0501FD;
}

.client_testi_circle{
	background-color: rgba(18, 193, 18, 0.65);
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.client_testi_circle h1{
	font-size: 55px;
    color: #fff;
    padding: 31% 26%;
}

.if_found{
	color:green;
}
.if_missing{
	color:red;
}

/*-----------------reporter Details in Full profile page------*/
.reporter_details{

}
.reporter_details h3{
	font-size: 25px;
} 
.reporter_details hr{
	width: 31%;
    margin-left: 0;
    border-top: 1px solid #8C8585;
    margin-top: 0px;
}
/*--------------Search Page-------------*/
.sign_up_page{
	background-color: #ededed;
	margin-top: 0%;
	padding-bottom: 3.5%;
}
.sign_up_page h1{
	text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.63);
    font-stretch: ultra-expanded;
    margin: 3% 0%;

}
.sign_up_page hr{
	border: 2px solid #C1BCBC;
    border-radius: 24px;
    width: 24%;
}

.sign_up_page .form-horizontal .control-label{
	font-size: 20px;
	color: rgba(0, 0, 0, 0.63);;
	text-align: left;
}

.sign_up_page .form-horizontal{
	margin-left: 5%;
    margin-top: 4%;
} 
/* this is for country selection box*/
.sign_up_page .country_selection_box .bfh-selectbox .bfh-selectbox-options ul{
	max-width: 288px;
}
.btn_search{
	background-color: rgba(0, 0, 255, 0.68);
    padding: 9px 30px;
    font-size: 20px;
}

.adv_draw_map p{
	font-size: 20px;
    color: #F57C00;
    background: #F6FFFD;
    padding-left: 10px;
}
.draw_map p{
	font-size: 20px;
    color: #F57C00;
    background: #F6FFFD;
    padding-left: 10px;
}
.upload_img p{
	font-size: 20px;
    color: #F57C00;;
    background: #F6FFFD;
    padding-left: 10px;
}

input, textarea{
	-webkit-box-shadow: 0 0 8px rgba(0,0,0,.1);
	-moz-box-shadow: 0 0 8px rgba(0,0,0,.1);
	box-shadow: 0 0 8px rgba(0,0,0,.1);
	background: -webkit-linear-gradient(top, #EEE 0px, #FFF 25px);
	background: -moz-linear-gradient(top, #EEE 0px, #FFF 25px);
}

.report_found_submit button{
	margin-left: 12.5%;
}

/*------Search result page CSS---------------*/
.search_result_wrappper{
	margin-bottom: 3%;
}
.search_result_wrappper h1{
	//margin-left: 3%;
    margin-bottom: 3%;
    margin-top: 5%;
}

.result_body ul li{
	list-style: none;
    padding: 10px 0px;
    border-bottom: 1px dotted;
    background-color: rgba(0, 150, 136, 0.02);
    margin: 14px 0px;
}

.img_result{
	width: 100px;
	height: 100px;
}

/*-------------Result details page CSS----------------*/
.search_result_details_wrapper{
	margin-top: 2% ;
	margin-bottom: 2%;
}
.person_detail_info{
	margin-top: 3%;
}

.left_side h1{
	font-size: 45px;
}
.search_result_img{
	margin-bottom: 10%;
}
.search_result_img h1{
	text-align: center;
}
.search_result_img ul li{
	list-style: none;
	float: left;
}
.search_result_Details_img{
	margin-top: 4%;
}
.search_result_Details_img img{
	width: 175px;
    height: 180px;
    padding: 3px;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
	padding: 0;
}
/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
	top: 0;
	bottom: 0;
}
/* padding for main container */
.mfp-no-margins .mfp-container {
	padding: 0;
}

.mfp-image-holder .mfp-content {
    max-width: 100%;
    margin-top: 10%;
}

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
    color: #FFF;
    right: 1px;
    text-align: right;
    padding-right: 5px;
    width: 100%;
    top: -4px;
    font-size: 45px;
    cursor: pointer;
}

/*-----------Flash Message--------*/

.flash_message{
	background: transparent;
    z-index: 100;
    box-shadow: 0px 0px 4px black;
	padding: 0px 0px;
}
#flashMessage{
	font-size: 18px;
    color: rgb(86, 9, 9);
	text-align: center;
	padding: 10px 0px;
}
.flash_close_btn{
	float: right;
    margin-top: -3%;
}

.success_msg {
	background: green;
}

.error_msg {
	background: red;
}

.related_search{
	margin-top: 2%;
}

.related_search h1{
	text-align: center;
	margin-bottom: 3%;
}

.related_search ul li{
	list-style: none;
	float: left;
	//margin: 5%;
}

.related_search ul li p{
	//margin-left: 5%;
}

.related_search ul li img{
	width: 120px;
	height: 120px;
}



.search_result_details_wrapper .left_side .tooltip_check{
	//float: right;
	margin-top: -9%;
	font-size: 15px;
    letter-spacing: 1px;
    font-weight: bold;
    color: #4DAF4D;  
}
.search_result_details_wrapper .person_place{
	font-size: 20px;
}
.result_body .tooltip_check{
	//float: right;
	margin-top: -9%;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: bold;
    color: #4DAF4D;  
}
.no_search_result{
	font-size: 20px;
	margin: 4.5% 0% 4.5% 0%;
}
.search_result_details_wrapper .left_side .tooltip_check .fa{
	font-size: 17px;
    color: #4DAF4D;
    padding-right: 5px;
}
.result_body .tooltip_check .fa{
	font-size: 17px;
    color: #4DAF4D;
    padding-right: 5px;
}
.result_body h4{
	font-size: 22px;
}
.result_body p{
	font-size: 17px;
}
.result_body a{
	text-decoration: none;
}
.person_status{
	//margin-top: 30px;
	float: right;
	color: green;
}

.status_mark {
	background-color: #fff;
	font-size: 25px;
	border: 3px solid green;
	border-radius: 5px;
	color: green;
	text-transform: uppercase;
	font-weight: bold;
}
.found{
	border: 3px solid green;
	color: green;
}
.missing{
	border: 3px solid red;
	color: red;
}
.maybe_found{
	border: 3px solid #FFD400;
	color: #FFD400;
}
.search_again{
	background-color: rgba(0, 150, 136, 0.15);
    margin-top: 4%;
    margin-bottom: 4%;
    padding-bottom: 0;
}
.search_again h1{
	font-size: 34px;
    margin-top: 7%;
}
.search_again hr{
	border: 2px solid #C1BCBC;
    border-radius: 24px;
    width: 100%;
}
.search_again .report_found_submit button {
    margin-left: 15%;
}

			/*-----ToolTip Css-----*/
.tooltip_check + .tooltip > .tooltip-inner {
      background-color: #4DAF4D; 
      color: #FFFFFF; 
      border: 1px solid green; 
      padding: 5px;
      font-size: 15px;
      letter-spacing: 1%;
  }

/* Tooltip on top */
.tooltip_check + .tooltip.top > .tooltip-arrow {
      border-top: 5px solid green;
  }

.captcha_section{
 	margin-left: 2%;
 	margin-bottom: 2%;
 }
.captcha_section .margin_top{
	margin-top: 27%;
}
#captchaOperation{
	text-align: left;
}
.captcha_input{
	margin-left: -11px;
}
.btn_found{
	background-color: rgba(62, 173, 62, 0.86);
    color: #fff;
    width: 100%;
    padding: 15px 20px;
    font-size: 30px;
    margin-left: -7px;
}

.btn_found:hover, .btn_found:focus, .btn_found.focus {
    background-color:  #33B333;
    color: #fff;
}

/*---------------Testimonial page --------------------*/
.testimonial_page{

}
.testimonial_page h4{
	text-align: center;
    margin-top: 3%;
    color: #099A09;
    font-size: 25px;
}
.report_found_submit_testi button{
	margin-left: 0;
}
.report_found_submit_testi .without_testimonial{
	width: 54%;
}

.captcha_hide{
	display: none;
}
.captcha_show{
	display: block;
	transition: all .1s ease;
}

.warning{
	text-align: center;
	color: #E91E63; 
	font-size: 20px;
}
.warning_solve{
	text-align: center; 
	font-size: 20px;
}
.success{
	text-align: center; 
	font-size: 35px;
	color: green;	
}
.chng_pass_page h4{

}


/*---------------Log Scroll Section-----------*/
#slimScrollDiv{
	width: 98.5%;
    margin-left: 1%;
}
#log_scroll{
	border: 3px solid #ededed;
    border-radius: 7px;
    padding: 10px;
    //margin-left: 2%;
}
#log_scroll h3{
	text-align: center;
	margin-top: 0px;
}
#log_scroll hr{
	margin-top: 5px;
    margin-bottom: 5px;
    width: 90%;
}

/*----------email check from database-------------*/
.help-block2{
	display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color:red;
}

/*--------My Report List Page-----------*/
.my_report_page h1{
	text-align: center;
	margin-top: 3%;
}
.my_report_page .report_list_name{
	font-size: 17px;
}
.my_report_page ul{
	margin-top: 5%;
	margin-bottom: 10.5%;
}
.my_report_page ul li{
	list-style: none;
	margin: 5px 0px;
}

.my_report_page .btn_myaccount{
	background-color: #4747E0;
	color: #fff;
	width: 41%;
    padding: 10px 20px;
    font-size: 20px;
}
.my_report_page .btn_myaccount:hover{
	background-color: rgba(71, 71, 224, 0.82);
}
.my_report_page .edit{
	margin-left: 15%;
}
.my_report_page .delete{
	margin-left: 2%;
}
/*---------- Sign Up thanks Page CSS--------*/
.simple_msg_page h2{
	letter-spacing: 2px;
}
.simple_msg_page .success{
	color: #339E33;
}
.simple_msg_page .wrong{
	color: red;
}
.simple_msg_page h2, .simple_msg_page p{
	text-align: center;
    margin: 4.8% 0% 5.5% 0%;
}

.simple_msg_page p{
	font-size: 17px;
}
.simple_msg_page p i{
	font-size: 20px;
	color:blue;
	cursor: pointer;
}

/*Reporters login page CSS*/

/*--------------hover button------------*/

.search_pagination{
	margin-bottom: 25px;
}

.search_pagination .search_info p{
	text-align: center;
	font-size: 20px;
	margin-top: 20px;
}

.search_pagination .search_info p span{
	color: blue;
	font-weight: bold;
	font-style: italic;
}

.search_result_details_wrapper .btn_abuse{
	width: 97%;
    padding: 15px 20px;
    font-size: 30px;
	margin-left: -10px;
}
/*----------left arrow-------*/
.previous_arrow .btn {
	border: none;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	//margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.previous_arrow .btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.previous_arrow .fa-long-arrow-left:before {
	content: "\f177";
}

.previous_arrow .btn {
	background: #823aa0;
	color: #fff;
	height: 70px;
	min-width: 184px;
	line-height: 24px;
	font-size: 16px;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.previous_arrow .btn:active {
	background: #9053a9;
	top: 2px;
}

.previous_arrow .btn span {
	display: inline-block;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.3s;
	-webkit-backface-visibility: hidden;
	-moz-transition: all 0.3s;
	-moz-backface-visibility: hidden;
	transition: all 0.3s;
	backface-visibility: hidden;
	margin-left: -15px;
}

.previous_arrow .btn:before {
	position: absolute;
	height: 100%;
	width: 100%;
	line-height: 2.5;
	font-size: 180%;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.previous_arrow .btn:active:before {
	color: #703b87;
}

.previous_arrow .btn:hover span {
	-webkit-transform: translateX(-372%);
	-moz-transform: translateX(-372%);
	-ms-transform: translateX(-372%);
	transform: translateX(-372%);
}

.previous_arrow .btn:before {
	right: -100%;
	top: 0;
}

.previous_arrow .btn:hover:before {
	right: 0;
}

/*----------------right arrow--------------*/
.next_arrow .btn {
	border: none;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	//margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.next_arrow .btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.next_arrow .fa-long-arrow-right:before {
	content: "\f178";
}

.next_arrow .btn {
	background: #823aa0;
	color: #fff;
	height: 70px;
	min-width: 184px;
	line-height: 24px;
	font-size: 16px;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.next_arrow .btn:active {
	background: #9053a9;
	top: 2px;
}

.next_arrow .btn span {
	display: inline-block;
	width: 245%;
	height: 100%;
	-webkit-transition: all 0.3s;
	-webkit-backface-visibility: hidden;
	-moz-transition: all 0.3s;
	-moz-backface-visibility: hidden;
	transition: all 0.3s;
	backface-visibility: hidden;
	margin-left: -15px;
}

.next_arrow .btn:before {
	position: absolute;
	height: 100%;
	width: 100%;
	line-height: 2.5;
	font-size: 180%;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.next_arrow .btn:active:before {
	color: #703b87;
}

.next_arrow .btn:hover span {
	-webkit-transform: translateX(200%);
	-moz-transform: translateX(200%);
	-ms-transform: translateX(200%);
	transform: translateX(200%);
}

.next_arrow .btn:before {
	right: 100%;
	top: 0;
}

.next_arrow .btn:hover:before {
	right: 0;
}












/*---------------------Social link----------------*/
.footer_wrapper{
	background-color: #1C2742;
	color: #fff;
}
.footer_wrapper h2{
	text-align: center;
	margin-top: 4%;
}
.social-link2{
	margin-top:10%;
	margin-bottom: 35%;
}

.social-link2 ul{
	list-style: none;

}

.social-link2 ul li{

}

.social-link2 ul li a {
	text-decoration: none;
	display:block;
	color: #fff;

}

.social-link2 ul li a i{
    width: 16%;
    height: 25%;
    font-size: 193%;
    float: left;
    padding: 3%;
    border-radius: 50%;
    line-height: 100%;
    text-align: center;
    border: 1px solid rgba(218, 210, 210, 0.27);
    display: block;
    overflow: hidden;
    margin-left: 2%;
    transition: all 0.5s;
	-webkit-transition : all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;

}

.social-link2 ul li a i:hover{
	background: rgba(218, 210, 210, 0.8);
	-webkit-transition : all 0.5s;

}

.social-link2 .fa{
	//padding: 5px;

}

.social-link2 .fa-facebook:hover{
	color:#48649F;
}

.social-link2 .fa-twitter:hover{
	color:#2F7FBA;
}

.social-link2 .fa-linkedin:hover{
	color:#0B2B5C;
}

.social-link2 .fa-google-plus:hover{
	color:#DD4E40;
}

.social-link2 .fa-pinterest:hover{
	color:#D73532;
}

.developer_link{
	margin-bottom: 20px;
}

.developer_link p, .developer_link a{
	color:#fff;
}


header ul li a:active, header ul li a:focus {
	border: none !important;
	outline: none !important;
}

.disabled_link {
	pointer-events: none;
	cursor: default;
}
