@font-face {
	font-family: 'digital-clock-font';
	src: url('../fonts/digital-7/digital-7.ttf');
}

/*------windows loader CSS------*/
.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../img/window_loader.gif') 50% 50% no-repeat rgba(245, 245, 245, 1);
}
.gender_error{
	border-color: #a94442;
}
.disabled{
	cursor: none;
}
/*-------Menu bar Css------*/
#myNavbar{
	margin-right: 0px;
}
.navbar{
	margin-bottom: 0px;
	background-color: #1C2742;
	border-bottom-color: #fff;
}

.navbar-nav{
	// margin-top: 1%;
	//margin-bottom: -1%;
}

.navbar-inverse{
	padding: 0%;
	border-radius: 0;
}

.navbar-nav li{
	//width: 16%;/*need to be change to width: 20%;*/
    text-align: center;
}
.myaccount_modal a{
	font-size: 13px;
}

.navbar-nav .btn{
	width: 120px;
	border-radius: none;
}

.navbar-nav>li>a{
	//background-color: #fff;
	color:#fff;
	font-size: 20px;
	font-weight: 600;
}
.navbar-nav > li > a{
    padding-top: 20px;
    padding-bottom: 20px;
}

 .navbar-nav>.active>a, .navbar-nav>.active>a:hover{
	background-color: #fff;
	color: #695959;
}

.navbar-nav>li{
	transition: all 1s ease-out;
}
 .navbar-nav>li:hover{
	background-color: #fff;
	color: #695959;
	//border-radius: 4px;
}
.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    color: #190404;
}

.navbar-collapse {
	border-color: #fff;
}

 .navbar-nav>.active>a{
    color: #695959;
    background-color: #fff; 
    border-bottom-color: rgba(255, 255, 255, 0);
}
.btn-primary {
    //color: #fff;
    background-color: #fff; 
    border:none;
}



/*---------Menubar Shrink Css-----------------*/
/* Sizes for the bigger menu */
header.large{ 
	height: 104px; 
}
header img{
	//margin-top: 2%;
}
header.large img{ 
	width: 315px; 
	height: 93px;
	margin-top: 1%; 
}
header.large li{
	margin-top: 10%; 
}

/* Sizes for the smaller menu */
header.small{ 
	height: 50px; 
}
header.small img{ 
	width: 230px; 
	height: 40px; 
	margin-top: 2%;
	margin-bottom: 2%;
}
/*header.small li{ 
	margin-top: 10px; 
}*/
header.small .navbar-nav {
    //margin-top: 2.1%;
}



header nav, header img{
  transition: all 1s;
  -moz-transition: all 1s; /* Firefox 4 */
  -webkit-transition: all 1s; /* Safari and Chrome */
  -o-transition: all 1s; /* Opera */
}
header ul li a{
	transition: all .3s;
  -moz-transition: all .3s; /* Firefox 4 */
  -webkit-transition: all .3s; /* Safari and Chrome */
  -o-transition: all .3s; /* Opera */
  display: block;
}

/*--------Drop-down menu CSS------------*/
.navbar-right .dropdown-menu {
     right: 0;
     left: 0;
} 
.dropdown-menu > li > a {
    padding: 12px 20px;
    font-size: 20px;
    transition: all .6s;
    -moz-transition: all .6s; /* Firefox 4 */
    -webkit-transition: all .6s; /* Safari and Chrome */
    -o-transition: all .6s; /* Opera */
}

.dropdown-menu > li > a:hover{
	background-color: #1C2742;
	color: #fff;
}

/*----------Bootstrap Code Channge----------------*/

/*-------Modal class-----------*/
.dropdown_menu_modal{
	min-width: 301px;	
}
.navbar-nav>li>.dropdown_menu_modal{
	margin-top:2px;
	left: -268%;
}
.navbar-nav>li>.my_account_modal{
	left: -114%;
}
.navbar-right .dropdown_menu_modal {
     right: auto;
} 
.dropdown_menu_modal form{
	padding: 0px 15px 0px 15px;
}
.dropdown_menu_modal .form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: left;
    padding-bottom: 5px;
}
.dropdown_menu_modal .glyphicon {
	top: -17px;
	font-size: 16px;
	color:  #A59B9B;
	margin-left: 265px;
}

.forget_pass p{
	margin-bottom: -10px;
}
.my_account_modal .my_account_options{
	//padding: 10px 10px 50px 10px;
}
.my_account_modal .btn_myaccount{
	padding: 10px;
	background-color: #1C2742;
    color: #fff;
    font-size: 18px;
    transition: all .4s;
}
.my_account_modal .btn_myaccount_original{
	width: 85.5%;
}
.my_account_options .fa-sign-out{
	padding-right: 7px;
    margin-left: -32px;
} 
.main_account_body{
	padding-bottom: 4px;
}
.main_account_body .btn{
	border-radius: 0px;
}
.my_account_modal .btn_sign_out{
	padding: 10px;
	background-color: #B7403A;
    color: #fff;
    font-size: 18px;
    transition: all .4s;
}
.my_account_modal .btn_sign_out:hover{
	background-color: #CE625C;
}
.my_account_modal h4{
	margin-bottom: 20px;
    margin-top: -15px;
    font-size: 20px;
}
.my_account_modal .btn_myaccount .fa{
	padding-right: 10px;
}
.my_account_options .btn{
	width: 85.5%;
}

.my_account_modal .btn_myaccount:hover{
	background-color: #3a5795;
    color: #fff;
}

/*-------------My account Page--------*/
.my_account_heading{
	text-align: center;
}
.my_account_heading h1{
	margin: 5% 0%;
}
.my_account_heading span{
	font-style: italic;
	font-weight: bold;
}
.account_edit, .change_pass{
	display: block;
	border: 1px solid rgba(19, 17, 17, 0.43);
    border-radius: 7px;
    text-align: center;
    background: #ededed;
    box-shadow: 0px 8px 12px 4px black;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz--webkit-transition: all .3s;
    -o--webkit-transition: all .3s;
}
.account_edit hr, .change_pass hr{
	border-top: 1px solid rgba(14, 8, 8, 0.18);
}
.myaccount_page a{
	display: block;
	text-decoration: none;
	cursor: pointer;
}
.account_edit:hover, .change_pass:hover{
	border: 1px solid rgba(19, 17, 17, 0.43);
    border-radius: 7px;
    text-align: center;
    background: #ededed;
    box-shadow: none;
}
.account_edit h3, .change_pass h3{
	margin-top: 20px;
}
.my_account_details .change_pass{
	margin-left: 3%;
}
.account_edit h4, .change_pass h4{
	font-size: 24px;
	line-height: 40px;
	padding: 5px;
}
.myaccount_page{
	margin-bottom: 25%;
	margin-top: 5%;
}

.multi_lg{
	position: absolute;
    right: 0;
    padding: 3px;
    width: 100%;
    background: rgba(255,255,255,0.6);
	background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 47%, rgba(55,76,129,0.6) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(255,255,255,0.6)), color-stop(100%, rgba(55,76,129,1)));
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 47%, rgba(55,76,129,0.6) 100%);
	background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 47%, rgba(55,76,129,0.6) 100%);
	background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 47%, rgba(55,76,129,0.6) 100%);
	background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 47%, rgba(55,76,129,0.6) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#374c81', GradientType=1 );
}
.multi_lg a{
	color: #fff;
	text-decoration: none;
}
.multi_lg a span{
	margin-right: 10px;
	text-shadow: 1px 1px 1px black;
    font-weight: bold;
    line-height: 20px;
}
.multi_lg a img{
	width: 20px;
	height: 20px;
	margin-top: -2px;
    margin-right: 8px;
}

#basic{
	width: 50%;
	text-align: center;
	background: #fff;
}
#basic h3{
	text-align: center;
	font-size: 30px;
    font-weight: bold;
    text-shadow: 1.5px 1.5px 1.5px #BDBDBD;
}
#basic p{
	text-align: justify;
    color: #C10000;
    font-size: 15px;
}
.popup_body{
	width: 40%;
	margin: 30px auto;
	max-height: 180px;
	overflow-x: hidden;
	border: 1px solid rgba(193, 193, 193, 0.58);
    padding: 10px;
}
.popup_body ul{
	margin: 0px 0px 0px -40px;
}
.popup_body ul li{
	list-style: none;
	width: 100%;
    background: rgba(37, 37, 138, 0.82);
    border-bottom: 1px solid #fff;
}
.popup_body ul li a{
	font-size: 18px;
	text-decoration: none;
	color: #fff;
    text-align: center;
    line-height: 25px;
    padding: 10px 0px;
    display: block;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
}
.popup_body ul li a:hover{
	background: rgb(0, 0, 101);
	transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
}
.popup_body ul li a .fa{
	margin-right: 12px;
}

.selected_lang {
	background: rgb(0, 0, 101) !important
}


/*------------ Change Password Page-----------------*/
.by_name_search{
	margin-top: -20px;
}
.error_left{
	margin-left: 35%;
}
.chng_pass_page{
	padding-top: 3%;
}
.chng_pass_page h3{
	text-align: center;
	padding-bottom: 3%;
	font-size: 30px;
    font-weight: bold;
}
.chng_pass_page h3:last-child{
	padding-bottom: 3%;
}
.chng_pass_page .form-horizontal .control-label {
    font-size: 20px;
    //color: #a1a2a3;
    text-align: left;
}
.chng_pass_page .btn_search{
	margin-left: 16%;
}
/*-----------------------Container Section CSS---------------------------*/
/*-------------Banner Section--------------*/
.banner_wrapper{
	background-image: url(../img/banner.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 582px;
	margin-top: 0%;
}

.search_pill{
	color: rgba(0, 0, 0, 0.63);
	background-color: rgba(232, 232, 232, 0.28);
	border-radius: 7px;
	margin-top: 2%;
    margin-bottom: 20px;
    height: 500px;
}

.search_pill ul{
	margin-left:17px;
}
.search_pill h2{
	text-align: center;
	font-weight: bold;
	margin: 3% 0%;
}
.search_pill h3{
	text-align: center;
	//font-weight: bold;
	padding: 11% 0% 3% 0%;
}

.search_pill .nav-pills>li {
    width: 19%;
    text-align: center;
    background: #cfcfcf;
    border-radius: 4px;
}
.search_pill .nav>li>a {
    padding: 10px 0px;
    font-size: 17px;
    font-weight: 600;
}
.search_pill .nav>li>a:hover{
	background:blue;
	opacity: .5;
	font-size: 17px;
	border: none;
	color: #fff;
}

.search_pill .control-label{
	text-align: left;
	font-size: 20px;
}
.search_pill .control-label p{
	text-align: right;
    margin-right: 6%;
}

.search_pill .lable_text{
	text-align: right;
}

/* this is for country selection box.*/
.search_pill .country_selection_box .bfh-selectbox .bfh-selectbox-options ul{
	max-width: 222px;
}
.search_pill .country_search{
	margin-top: 6%;
}
.search_pill .id_search{
	margin-top: 7%;
}
/*this is for map draging CSS */
#map-canvas {
    width: 100%;
    height: 250px;
    background-color: gray;
}
.draw_map{
	margin-top: 8%;
	margin-left: 6.3%;
    padding-right: 7.5%;
}
.draw_map p{
	//margin-left: 5%;
}
.adv_search_link .fa{
	padding-left: 5px;
}
#name .adv_search_link p{
	bottom: -90px;
	font-size: 15px;
}

#photos .adv_search_link p{
	bottom: -22px;
	margin-left: 3%;
}

#country .adv_search_link p{
	bottom: -147px;
}

#map .adv_search_link p{
	bottom: -68px;
}

#id_search .adv_search_link p{
	margin-top: 52%;
}
.adv_search_link p{
	position: absolute;
}

.faceplus_img img{
	width: 115px;
}



/*========= Drag & Drop images upload css customization========*/
.file-drop-zone-title {
    padding: 20px 10px;
}

.file-input{
	margin-top: 10px;
}


.file-drop-zone {
    margin: 7px 15px 7px 12px;
    padding: 0px;
    height: 180px;
}
.file-error-message {
    position: absolute;
    z-index: 3;
    top: 52%;
    left: 11%;
}

.text-success{
	 position: absolute;
    z-index: 3;
    top: 52%;
    left: 30%;
}
.search_pill .upload_img{
    width: 90%;
    margin-left: 4.5%;
}

.search_pill .file-input .input-group {
	//width: 90.5%;
   // margin-left: 4.5%;
}
.search_pill .gender .control-label{
	padding-top: 0px;
	margin-left: 6px;
}
.search_pill .photo_search{
	margin-left: 58%;
}
.search_pill #gender{
	margin-top: -10px;
}



/*---------------------------------------*/

.file-input .btn-primary {
    background-color: #337ab7;;;
    border: none;
}
.file-input .btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.file-preview {
    border: 1px solid rgba(119, 116, 116, 0.48);
}


/*-----------Parallax-----------------*/
.count_wrapper_bg{
	background: rgba(237, 237, 237, 0.58);
}

.parallax{
	background-attachment: fixed;
	background-position: right 110px;
}
.count_wrapper{
	background-image: url(../img/banner.png);
	background-repeat: no-repeat;
	background-size: cover;
	//height: 450px;
}

.count_wrapper{
	//padding-bottom: 4%;
	//padding-top: 4%;
}


.count_wrapper_body{
	padding: 5% 0%;
}

.inner_counter{
    padding: 7px 24px 7px 24px;
}

.count_wrapper h3{
	text-align: center;
	font-weight: bold;
	font-size: 40px;
	color: rgb(179, 179, 179);
	border-radius: 10px;
	text-shadow: 3px 5px 2px #1C2742;
	//box-shadow: 4px 3px 3px #1C2742;
	text-transform: uppercase;
}

h3.found_h3_counter {
	//background: #4AB4AA;
	text-shadow: 1px 2px 3px rgb(1, 11, 35);
	margin-left: -9%;
	/*box-shadow: -4px 3px 3px #1C2742;
	-ms-transform: skew(25deg, 10deg);
	-webkit-transform: skew(25deg, 10deg);
	transform: skewX(25deg);*/
}

h3.added_h3_counter {
	//background: #AD6A63;
	text-shadow: 1px 2px 3px rgb(1, 11, 35);
	margin-right: -11%;
	/*box-shadow: 4px 3px 3px #1C2742;
	-ms-transform: skew(-25deg, -10deg);
	-webkit-transform: skew(-25deg, -10deg);
	transform: skewX(-25deg);*/
}

.count_wrapper h2{
	font-family: 'digital-clock-font';
	text-align: center;
	color: #1C2742;
	font-size: 70px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
	padding-top: 30%;
}
.counter_found{
	background-color: rgba(0, 150, 136, 0.71);
	margin-left: 10%;
}
.counter_found_text{
	background-color: #fff;
}
.counter_add{
	background-color: rgba(134, 35, 25, 0.67);
	margin-left: 20%;
	
}

.counter_add_text{
	background-color: #fff;
}


.counter_bg{
	//background-color: rgba(46, 189, 63, 0.65);
    border-radius: 50%;
    width: 250px;
    height: 250px;

}




/*---------------About Section---------------*/

.about_wrapper{
	//background-color: rgba(237, 237, 237, 0.34);
	background-image: url(../img/service.jpg);
	background-repeat: no-repeat;
	//background-size: cover;
	background-position: center;
	height: 550px;
}

.about_wrapper h1, .about_wrapper h2{
	text-align: center;
	font-size: 40px;
    font-weight: bold;
    color: #00A708;
    margin: 3% 0%;
    text-shadow: .5px .5px 0px #3A3434; 
}
.about_wrapper p{
	font-size: 24px;
    font-weight: 600;
    color: #00A708;
    text-shadow: 0px .5px 0px #fff;
}
.service_option{
	margin: 8% 0% 5% 0%;
}
.service_option .fa{
	padding-right: 9px;
}

.pull-right p{
	margin-left: 21px;
}
.my_report_btn{
	background-color: green;
    color: #fff;
    width: 30%;
    font-size: 24px;
    padding: 15px 0px;
    margin: 10% 0% 4% 0%;
    transition: all .3s ease;
    -webkit-transition: all .5s ease;
    display: inline-block;
}

.my_report_btn:hover{
	background-color: #fff;
	color:green;
	border: 1px solid green;
}
.report_btn_section{
	//padding: 10px;
}
.btn_service{
	background-color: green;
    color: #fff;
    width: 25%;
    font-size: 24px;
    padding: 12px 0px;
    margin: 10% 0% 0% 0%;
    transition: all .3s ease;
    -webkit-transition: all .5s ease;
    display: inline-block;
}

.btn_service:hover{
	background-color: #fff;
	color:green;
	border: 1px solid green;
}

/*----------------Contact Section----------------*/

.contact_wrapper{
	padding-bottom: 4%;
	background-color:rgba(241, 241, 241, 0.81);
}
.contact_wrapper h1{
	text-align: center;
    font-size: 42px;
    font-weight: bold;
	margin-top: 4%;
    margin-bottom: 4%;
}
.contact_wrapper address{
    padding: 54px 52px;
    font-size: 18px;
}
.contact_wrapper .Contact_mail{
    padding: 40px 20px 10px 23px;
    font-size: 16px;
}

.btn_msg{
	background-color: rgba(0, 0, 255, 0.68);
    padding: 15px 30px;
    font-size: 20px;
}
.contact_body{
	    border: 1px dotted rgba(95, 91, 91, 0.39);
	    border-radius: 7px;
}
.border_address{
	border-right: 1px solid;
	width: 100px;
}
.contact_devide{
	border-right: 1px dotted rgba(95, 91, 91, 0.39);
    height: 277px;
    margin-top: 4%;
}
.Contact_mail .form-horizontal .control-label{
	text-align: left;
}

#reply_msg{
    font-size: 130px;
    position: absolute;
    background: rgba(0,0,0,0.70);
    width: 97.5%;
    height: 100%;
    z-index: 10;
    display: none;
    text-align: center;
}

.check:before{
	content: "\2714";
	color: #009C00;
}
.msr_not_sent:before{
	content: "\2718";
	color:red;
}

#reply_msg p {
	margin-top: 55px;
}

#reply_msg p h2{
	margin-top:-39px;
	color: #fff;
	font-size: 20px;
}

.msg_loading_bg {
	position: absolute;
	width: 97.5%;
	height: 100%; 
	display:none;
	background-color: rgba(0,0,0,0.70);
	z-index: 10;
}
.msg_loading{
	background:url(../img/725.gif) no-repeat 1px;
    z-index: 11;
    position: absolute;
    left: 44%;
    right: 0;
    top: 0;
    bottom: 0;
}


.msg_submit .disabled{
	pointer-events: none;
}



/*------------Carousel----------*/
.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #f4511e;
}
.carousel{
	margin-top: -1.5%;
}
.carousel  h2{
	padding-top: 2%;
    font-size: 42px;
    font-weight: bold;
    color: rgb(28, 39, 66);
}
.carousel-inner img{
	margin-left: auto;
	margin-right: auto;
	margin-top: 20%;
	margin-bottom: 20%;
}
.carousel-inner h4{
	margin-bottom: 10%;
	padding-top: 3%;
	height: 100px;
}

.carousel-inner .testimonial_text{
	//height: 100px;
}

.carousel-inner h4 blockquote{
	font-size: 25px;
	border-left: 5px solid #C1BEBE;
}
blockquote h5{
	font-size: 18px;
}
blockquote .fa{
	font:30px;
	color: blue;
} 

.carousel-indicators {
    top: 94%;
}

.carousel-indicators li {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: green;
    //background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    border-radius: 10px;
}

.carousel-indicators .active {
    width: 17px;
    height: 17px;
    margin: 0;
    //background-color: #fff;
    background-color: red;
}

.client_testi_circle{
	background-color: rgba(18, 193, 18, 0.65);
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.client_testi_circle h1{
	font-size: 48px;
    color: #fff;
    padding: 35% 16%;
}

.if_found{
	color:green;
}
.if_missing{
	color:red;
}

/*-----------------reporter Details in Full profile page------*/
.reporter_details{

}
.reporter_details h3{
	font-size: 25px;
} 
.reporter_details hr{
	width: 31%;
    margin-left: 0;
    border-top: 1px solid #8C8585;
    margin-top: 0px;
}




.ui-datepicker { 
	width: 17em; 
	padding: .3em .3em 0; 
	display: none; 
	font-size:23px; 
}
/*--------------Search Page-------------*/
.sign_up_page{
	background-color: #ededed;
	margin-top: 0%;
	padding-bottom: 3.5%;
}
.sign_up_page h1{
	text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.63);
    font-stretch: ultra-expanded;
    margin: 3% 0% -1% 0%;
    text-transform: uppercase;

}
.sign_up_page hr{
	border: 2px solid #C1BCBC;
    border-radius: 24px;
    width: 24%;
}
.report_missing hr, .report_found hr{
	width: 53%;
}

.sign_up_page .form-horizontal .control-label{
	font-size: 20px;
	color: rgba(0, 0, 0, 0.63);;
	text-align: left;
}

.sign_up_page .form-horizontal{
	margin-left: 5%;
    margin-top: 4%;
}

.login_page h1{
	text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.63);
    font-stretch: ultra-expanded;
    margin: 3% 0% -1% 0%;
    text-transform: uppercase;
}

.login_page hr{
	border: 2px solid #C1BCBC;
    border-radius: 24px;
    width: 24%;
}

.login_page .form-horizontal .control-label{
	font-size: 20px;
	color: rgba(0, 0, 0, 0.63);;
	text-align: left;
}

/* this is for country selection box*/
.bfh-selectbox.open>.bfh-selectbox-options{
	width: 100%;
}
.btn_search{
	background-color: rgba(0, 0, 255, 0.68);
    padding: 9px 30px;
    font-size: 20px;
}

.adv_draw_map p{
	font-size: 20px;
    color: #F57C00;
    background: #F6FFFD;
    padding-left: 10px;
}
.adv_draw_map .saech_map{
	margin-bottom: 0px;
} 
.draw_map p{
	font-size: 20px;
    color: #F57C00;
    background: #F6FFFD;
    padding-left: 10px;
}
.upload_img p{
	font-size: 18px;
    color: #FFFFFF;
    background: rgba(191, 31, 31, 0.85);
    padding-left: 10px;
}
.sign_up_page .info_search{
	margin-bottom: -9px;
}

input, textarea{
	-webkit-box-shadow: 0 0 8px rgba(0,0,0,.1);
	-moz-box-shadow: 0 0 8px rgba(0,0,0,.1);
	box-shadow: 0 0 8px rgba(0,0,0,.1);
	background: -webkit-linear-gradient(top, #EEE 0px, #FFF 25px);
	background: -moz-linear-gradient(top, #EEE 0px, #FFF 25px);
}

.report_found_submit button{
	margin-left: 12.5%;
}

/*------Search result page CSS---------------*/
.search_result_wrappper{
	margin-bottom: 3%;
}
.search_result_wrappper h1{
	//margin-left: 3%;
    margin-bottom: 3%;
    margin-top: 5%;
}

.result_body ul li{
	list-style: none;
    padding: 10px 0px;
    border-bottom: 1px dotted;
    background-color: rgba(0, 150, 136, 0.02);
    margin: 14px 0px;
}

.img_result{
	width: 100px;
	height: 100px;
}

/*-------------Result details page CSS----------------*/
.search_result_details_wrapper{
	margin-top: 2% ;
	margin-bottom: 2%;
}
.person_detail_info{
	margin-top: 3%;
}

.left_side h1{
	font-size: 45px;
}
.search_result_img{
	margin-bottom: 10%;
}
.search_result_img h1{
	text-align: center;
}
.search_result_img ul li{
	list-style: none;
	float: left;
}
.search_result_Details_img{
	margin-top: 4%;
}
.search_result_Details_img img{
	width: 175px;
    height: 180px;
    padding: 3px;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
	padding: 0;
}
/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
	top: 0;
	bottom: 0;
}
/* padding for main container */
.mfp-no-margins .mfp-container {
	padding: 0;
}

.mfp-image-holder .mfp-content {
    max-width: 100%;
    margin-top: 10%;
}

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
    color: #F00000;
    right: 1px;
    text-align: right;
    padding-right: 5px;
    width: 100%;
    top: -4px;
    font-size: 45px;
    cursor: pointer;
}

/*-----------Flash Message--------*/

.flash_message{
	background: transparent;
    z-index: 100;
    box-shadow: 0px 0px 4px black;
	padding: 0px 0px;
	margin-top: 2%;
	position: absolute;
	left: 7%;
}
#flashMessage{
	font-size: 18px;
    color:#fff;
	text-align: center;
	padding: 20px 0px;
}
.flash_close_btn{
	float: right;
    margin-top: -5.3%;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
}

.success_msg {
	background: green;
}

.error_msg {
	background: red;
}

.related_search{
	margin-top: 2%;
}

.related_search h1{
	text-align: center;
	margin-bottom: 3%;
}

.related_search ul li{
	list-style: none;
	float: left;
	//margin: 5%;
}

.related_search ul li p{
	//margin-left: 5%;
}

.related_search ul li img{
	width: 120px;
	height: 120px;
}



.search_result_details_wrapper .left_side .tooltip_check{
	//float: right;
	margin-top: -9%;
	font-size: 15px;
    letter-spacing: 1px;
    font-weight: bold;
    color: #4DAF4D;  
}
.search_result_details_wrapper .person_place{
	font-size: 20px;
}
.result_body .tooltip_check{
	//float: right;
	margin-top: -9%;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: bold;
    color: #4DAF4D;  
}
.no_search_result{
	font-size: 20px;
	margin: 4.5% 0% 4.5% 0%;
}
.search_result_details_wrapper .left_side .tooltip_check .fa{
	font-size: 17px;
    color: #4DAF4D;
    padding-right: 5px;
}
.result_body .tooltip_check .fa{
	font-size: 17px;
    color: #4DAF4D;
    padding-right: 5px;
}
.result_body h4{
	font-size: 22px;
}
.result_body p{
	font-size: 17px;
}
.result_body a{
	text-decoration: none;
}
.report_list_name a{
	display: block;
}
.person_status{
	float: right;
	color: green;
	margin-top: 8px;
}

.status_mark {
	background-color: #fff;
	font-size: 25px;
	border: 3px solid green;
	border-radius: 5px;
	color: green;
	text-transform: uppercase;
	font-weight: bold;
}
.found{
	border: 3px solid green;
	color: green;
}
.missing{
	border: 3px solid red;
	color: red;
}
.maybe_found{
	border: 3px solid #FFD400;
	color: #FFD400;
}
.search_again{
	background-color: rgba(0, 150, 136, 0.15);
    margin-top: 4%;
    margin-bottom: 4%;
    padding-bottom: 0;
}
.search_again h1{
	font-size: 34px;
    margin-top: 7%;
}
.search_again hr{
	border: 2px solid #C1BCBC;
    border-radius: 24px;
    width: 100%;
}
.search_again .report_found_submit button {
    margin-left: 15%;
}

			/*-----ToolTip Css-----*/
.tooltip_check + .tooltip > .tooltip-inner {
	background-color: #4DAF4D; 
	color: #FFFFFF; 
	border: 1px solid green; 
	padding: 5px;
	font-size: 15px;
	letter-spacing: 1%;
}

/* Tooltip on top */
.tooltip_check + .tooltip.top > .tooltip-arrow {
    border-top: 5px solid green;
}


.btn_found{
	background-color: rgba(62, 173, 62, 0.86);
    color: #fff;
    width: 100%;
    padding: 15px 20px;
    font-size: 30px;
    margin-left: 17px;
}
.btn_warning{
	background-color: #FFE60A;
    color: #fff;
    width: 100%;
    padding: 15px 20px;
    font-size: 30px;
    margin-left: 0px;
}
.btn_warning:hover{
	background-color: #FFC107;
	color: #fff;
}

.btn_found:hover, .btn_found:focus, .btn_found.focus {
    background-color:  #33B333;
    color: #fff;
}

.log_section{
	margin-top: 10%;
}
.log_section ul{
	padding: 0;
	margin-top: 15px;
}
/*---------------Testimonial page --------------------*/
.testimonial_page{

}
.testimonial_page h4{
	text-align: center;
    margin-top: 3%;
    color: #099A09;
    font-size: 25px;
}
.report_found_submit_testi button{
	margin-left: 0;
}
.report_found_submit_testi .without_testimonial{
	width: 54%;
}

.captcha_page h2{
	text-align: center;
	margin: 4.15%;
}

.captcha_page .control-label{
	font-size: 20px;
	text-align: left;
}

.captcha_page .btn_abuse{
	background-color: rgba(0, 0, 255, 0.68);
    padding: 9px 30px;
    font-size: 20px;
    color: #fff;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    margin-bottom: 16%;

}
.captcha_page .btn_abuse:hover{
	background-color: rgba(0, 0, 255, 0.58);
}

.warning{
	text-align: center;
	color: #E91E63; 
	font-size: 20px;
}
.warning_solve{
	text-align: center; 
	font-size: 20px;
}
.success{
	text-align: center; 
	font-size: 35px;
	color: green;	
}
.chng_pass_page h4{

}


/*---------------Log Scroll Section-----------*/
#slimScrollDiv{
	width: 98.5%;
    margin-left: 1%;
}
#log_scroll{
	border: 3px solid #ededed;
    border-radius: 7px;
    padding: 10px;
    //margin-left: 2%;
}
#log_scroll h3{
	text-align: center;
	margin-top: 0px;
}
#log_scroll hr{
	margin-top: 5px;
    margin-bottom: 5px;
    width: 90%;
}

#log_scroll code{
	font-size: 15px;
}
#log_scroll ul li{
	margin-top: 10px;
    border-bottom: 1px dotted;
    padding-bottom: 10px;
    list-style: none;
    width: 90%;
    margin: 0 auto;
}

/*----------email check from database-------------*/
.help-block2{
	display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color:red;
}

/*--------My Report List Page-----------*/
.my_report_page h1{
	text-align: center;
	margin-top: 3%;
}
.my_report_page .report_list_name{
	font-size: 17px;
}
.my_report_page ul{
	margin-top: 5%;
	margin-bottom: 10.5%;
}
.my_report_page ul li{
	list-style: none;
	margin: 5px 0px;
}

.my_report_page .btn_myaccount{
	background-color: #4747E0;
	color: #fff;
	width: 41%;
    padding: 10px 20px;
    font-size: 20px;
}
.my_report_page .btn_myaccount:hover{
	background-color: rgba(71, 71, 224, 0.82);
}
.my_report_page .edit{
	margin-left: 15%;
}
.my_report_page .delete{
	margin-left: 2%;
}
/*---------- Sign Up thanks Page CSS--------*/
.simple_msg_page h2{
	letter-spacing: 2px;
}
.simple_msg_page .success{
	color: #339E33;
}
.simple_msg_page .wrong{
	color: red;
}
.simple_msg_page h2, .simple_msg_page p{
	text-align: center;
    margin: 4.8% 0% 5.5% 0%;
}

.simple_msg_page p{
	font-size: 17px;
}
.simple_msg_page p i{
	font-size: 20px;
	color:blue;
	cursor: pointer;
}

/*Reporters login page CSS*/

/*--------------hover button------------*/

.search_pagination{
	margin-bottom: 25px;
	margin-top: 20px;
}

.search_pagination .search_info p{
	text-align: center;
	font-size: 20px;
	margin-top: 7px;
	letter-spacing: 1px;
}

.search_pagination .search_info p span{
	color: blue;
	font-weight: bold;
	font-style: italic;
}
.search_pagination .btn{
	background: #1C2742;
    padding: 6px 12px;
}

.search_pagination .fa{
	line-height: 26px;
    padding-bottom: 0;
    margin-top: 2px;
    font-size: 20px;
}
.previous_arrow a{
	margin-left: 34px;
}

.search_pagination .disabled_link{
	opacity: .5;
}
.search_pagination a{
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
}
.search_pagination a:hover{
	color: #DD4E40;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
}

.p_id{
	font-style: italic;
	color: blue;
	font-weight: bold;
}


/*----------left arrow-------*/
/*.previous_arrow .btn {
	border: none;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	//margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.previous_arrow .btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.previous_arrow .fa-long-arrow-left:before {
	content: "\f177";
}

.previous_arrow .btn {
	background: #823aa0;
	color: #fff;
	height: 70px;
	min-width: 184px;
	line-height: 24px;
	font-size: 16px;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.previous_arrow .btn:active {
	background: #9053a9;
	top: 2px;
}

.previous_arrow .btn span {
	display: inline-block;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.3s;
	-webkit-backface-visibility: hidden;
	-moz-transition: all 0.3s;
	-moz-backface-visibility: hidden;
	transition: all 0.3s;
	backface-visibility: hidden;
	margin-left: -15px;
}

.previous_arrow .btn:before {
	position: absolute;
	height: 100%;
	width: 100%;
	line-height: 2.5;
	font-size: 180%;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.previous_arrow .btn:active:before {
	color: #703b87;
}

.previous_arrow .btn:hover span {
	-webkit-transform: translateX(-372%);
	-moz-transform: translateX(-372%);
	-ms-transform: translateX(-372%);
	transform: translateX(-372%);
}

.previous_arrow .btn:before {
	right: -100%;
	top: 0;
}

.previous_arrow .btn:hover:before {
	right: 0;
}*/

/*----------------right arrow--------------*/
/*.next_arrow .btn {
	border: none;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	//margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.next_arrow .btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.next_arrow .fa-long-arrow-right:before {
	content: "\f178";
}

.next_arrow .btn {
	background: #823aa0;
	color: #fff;
	height: 70px;
	min-width: 184px;
	line-height: 24px;
	font-size: 16px;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.next_arrow .btn:active {
	background: #9053a9;
	top: 2px;
}

.next_arrow .btn span {
	display: inline-block;
	width: 245%;
	height: 100%;
	-webkit-transition: all 0.3s;
	-webkit-backface-visibility: hidden;
	-moz-transition: all 0.3s;
	-moz-backface-visibility: hidden;
	transition: all 0.3s;
	backface-visibility: hidden;
	margin-left: -15px;
}

.next_arrow .btn:before {
	position: absolute;
	height: 100%;
	width: 100%;
	line-height: 2.5;
	font-size: 180%;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.next_arrow .btn:active:before {
	color: #703b87;
}

.next_arrow .btn:hover span {
	-webkit-transform: translateX(200%);
	-moz-transform: translateX(200%);
	-ms-transform: translateX(200%);
	transform: translateX(200%);
}

.next_arrow .btn:before {
	right: 100%;
	top: 0;
}

.next_arrow .btn:hover:before {
	right: 0;
}*/
/*----social Share---------*/

.sticky-container{
	/*background-color: #333;*/
	padding: 0px;
	margin: 0px;
	position: fixed;
	right: -119px;
	top:190px;
	width: 200px;
	z-index: 3;
}
.sticky a{
	text-decoration: none;
}
.sticky li{
	list-style-type: none;
	background-color: #333;
	color: #efefef;
	height: 43px;
	padding: 0px;
	margin: 0px 0px 1px 0px;
	-webkit-transition:all 0.25s ease-in-out;
	-moz-transition:all 0.25s ease-in-out;
	-o-transition:all 0.25s ease-in-out;
	transition:all 0.25s ease-in-out;
	cursor: pointer;
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); 
    filter: gray; 
    -webkit-filter: grayscale(100%); 

}

.sticky li:hover{
	margin-left: -115px;
	/*-webkit-transform: translateX(-115px);
	-moz-transform: translateX(-115px);
	-o-transform: translateX(-115px);
	-ms-transform: translateX(-115px);
	transform:translateX(-115px);*/
	/*background-color: #8e44ad;*/
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
            -webkit-filter: grayscale(0%);
}

.sticky li img{
	float: left;
	margin: 5px 5px;
	margin-right: 10px;

}

.sticky li p{
	padding: 0px;
	margin: 0px;
	text-transform: uppercase;
	line-height: 43px;

}


/* -------------Edit Page-------------*/

.edit_img ul li .img-responsive{
	max-width: 123px;
	height: 128px;
	float: left;
	margin: 5px;
	}
.edit_img ul{
	margin-left: -39px;
}

img.mfp-img{
	max-width: 400px;
	height: 400px;
}










/*---------------------Social link----------------*/
.footer_wrapper{
	background-color: #1C2742;
	color: #fff;
}
.footer_wrapper h2{
	text-align: center;
	margin-top: 4%;
}
.social-link2{
	margin-top:10%;
	margin-bottom: 35%;
}

.social-link2 ul{
	list-style: none;

}

.social-link2 ul li{

}

.social-link2 ul li a {
	text-decoration: none;
	display:block;
	color: #fff;

}

.social-link2 ul li a i{
    width: 16%;
    height: 25%;
    font-size: 193%;
    float: left;
    padding: 3%;
    border-radius: 50%;
    line-height: 100%;
    text-align: center;
    border: 1px solid rgba(218, 210, 210, 0.27);
    display: block;
    overflow: hidden;
    margin-left: 2%;
    transition: all 0.5s;
	-webkit-transition : all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;

}

.social-link2 ul li a i:hover{
	background: rgba(218, 210, 210, 0.8);
	-webkit-transition : all 0.5s;

}

.social-link2 .fa{
	//padding: 5px;

}

.social-link2 .fa-facebook:hover{
	color:#48649F;
}

.social-link2 .fa-twitter:hover{
	color:#2F7FBA;
}

.social-link2 .fa-linkedin:hover{
	color:#0B2B5C;
}

.social-link2 .fa-google-plus:hover{
	color:#DD4E40;
}

.social-link2 .fa-pinterest:hover{
	color:#D73532;
}

.developer_link{
	margin-bottom: 20px;
}

.developer_link p, .developer_link a{
	color:#fff;
}


header ul li a:active, header ul li a:focus {
	border: none !important;
	outline: none !important;
}

.disabled_link {
	pointer-events: none;
	cursor: default;
}

.admin_img_edit img{
	max-width: 115px;
    height: 126px;
    min-width: 125px;
}


.admin_img_edit_section .fa-trash-o{
	top: 6.6%;
    margin-left: 21.5%;
    color: rgba(255, 0, 0, 0.50);
    background: #fff;
    padding: 4px;
    font-size: 30px;
    position: absolute;
    transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
}

.fa-trash-o:hover{
	color: red;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
}

.display_none{
	display: none;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
}

.admin_img_edit_section table td:hover .fa-trash-o{
	display: block;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
}



.has-error .control-label {
	color: #1C2742 !important;
}